﻿@model IndexViewModel
@section ScriptSection{
    <script src="~/js/home-index.js"></script>
}
<div class="col-lg-6 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Add a new Payment</h5>
            <form method="post" asp-action="Index">
                <div class="form-group">
                    <label>Vehicle Category</label>
                    <select class="form-control" id="category" autofocus asp-for="VehicleCategoryId">
                        <option value="" disabled selected>Select vehicle category</option>
                        @foreach (var item in Model.Prices)
                        {
                            @if (item.Item2 != null)
                            {
                                <option value="@item.Item1.Id" price="@item.Item2.PriceValue">@item.Item1.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <h5 class="form-text" id="price">@Model.Price</h5>
                </div>
                <div class="form-group">
                    <label>Paid</label>
                    <input type="number" class="form-control" />
                </div>

                <button class="btn btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>