﻿@using Microsoft.AspNetCore.Identity
@* Dependency injection *@
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class=" container">

            <!-- Logo -->
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Highway Tolls</a>

            <!--Menu toggle button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Menu toggle items-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Menu tab -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>

                <!-- Account tab -->
                <ul class="navbar-nav justify-content-end">
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                          <li class="nav-item text-light">@User.Identity.Name</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-4">

        <!-- View -->
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    @RenderSection("ScriptSection", false)
</body>
</html>
