﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="col-lg-4 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Log in</h5>
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <i class="fa fa fa-user mx-2"></i>
                    <label asp-for="Username"></label>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Enter your username" required />
                </div>

                <div class="form-group">
                    <i class="fa fa-lock mx-2"></i>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" required>
                </div>

                <button class="btn btn-primary btn-block text-uppercase" type="submit"> <i class="fa fa-sign-in mx-2"></i>Log in</button>
            </form>
        </div>
    </div>
</div>