﻿@model SelectViewModel
@section ScriptSection{ 
    <script src="~/js/account-select.js"></script>
}
@{
    ViewData["Title"] = "Select";
}


<div class="col-lg-4 mx-auto">
    <div class="card my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Select </h5>
            <form asp-action="Select" method="post">
                <div class="form-group">
                    <select class="form-control" id="location" autofocus asp-for="LocationId">
                        <option value="" disabled selected>Select your Location</option>
                        @foreach (var item in Model.Locations)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="tollbooths" asp-for="TollBoothId">
                        <option value="" disabled selected>Select your Toll Booth</option>
                    </select>
                </div>

                <button class="btn btn-primary btn-block text-uppercase" type="submit"> <i class="fa fa-sign-in mx-2"></i>Enter</button>
            </form>
        </div>
    </div>
</div>
